body{
    color: burlywood;
    max-width: 900px;
    margin: auto;

}

#principal, .subtitle, .titulo-post{
  color: black; 
  margin-left: 15px;
}

#principal{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    margin-left: 15px;
}

.titulo-post{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}
a{
    text-decoration: line-through;
    color: gray;
}

.post{
    padding: 10px;
color: cornsilk;
border: 3px solid black;
margin: 15px;
}

.post-content{
    font-family: sans-serif;
    margin: 0;
    margin-bottom: 15px;
    border-radius: 5px;
    color: grey;
    text-align: justify;
}

.post-img{
    margin-bottom: 15px;
    width: 100%;
}
.foto-top{
    margin-left: 15px;
   margin-top: 1em;
    border-radius: 50%;
    border: 1px solid gray;
}

.list{
list-style: none;
padding-left: 15px;
}

.list a {
text-decoration: none;
font
}